@{
    ViewData["Title"] = "LandingPage";
}
<main class="main-landingpage">
    <h1>Winterhold Library</h1>
    <p>Knowledge is the best weapon you have, please find some fascinating books we have. This app will help you do that, as long as you keep extend your membership! (its totally free!)</p>

</main>